.navbar {
	display: flex;
	justify-content: space-between;
	height: 60px;
	margin-bottom: 20px;
	background-color: #222;
	color: white;
}
.nav-left, .nav-right {
	display: flex;
}

.navbar a {
	display: flex;
	align-content: center;
	color: white;
	text-decoration: none;
	padding: 15px;
}

.navbar a:hover {
	background-color: #777;
	border-bottom: 5px solid yellow;
}

.itemRow a {
	text-decoration: none;
	
}
/* .itemRow a:hover {
	background-color: grey;
} */
.itemRow {
	width: 90%;
	margin: auto;
	display: flex;
	height: 40px;
	/* border: 1px solid black; */
	box-shadow: 3px 3px 8px #888888;
	margin-bottom: 5px;
	padding-left: 10px;
}
.itemRow:hover {
	box-shadow: 8px 8px 8px #888888;
}
.itemLink {
	display: flex;
	align-items: center;
	flex-basis: 50%;
}
.itemId {
	display: flex;
	align-items: center;
	flex-basis: 10%;
}
.itemUserId { 
	display: flex;
	align-items: center;
	flex-basis: 20%;
}
.itemTimeAgo {
	display: flex;
	align-items: center;
	flex-basis: 20%;
}
.page-container {
	display: flex;
	width: 25%;
	margin: auto;
	margin-top: 20px;
	justify-content: space-between;
}