.navbar {
	display: flex;
	justify-content: space-between;
	height: 60px;
	margin-bottom: 20px;
	background-color: #222;
	color: white;
}
.nav-left, .nav-right {
	display: flex;
}

.navbar a {
	display: flex;
	align-content: center;
	color: white;
	text-decoration: none;
	padding: 15px;
}

.navbar a:hover {
	background-color: #777;
	border-bottom: 5px solid yellow;
}

.itemRow a {
	text-decoration: none;
	
}
/* .itemRow a:hover {
	background-color: grey;
} */
.itemRow {
	width: 90%;
	margin: auto;
	display: flex;
	height: 40px;
	/* border: 1px solid black; */
	box-shadow: 3px 3px 8px #888888;
	margin-bottom: 5px;
	padding-left: 10px;
}
.itemRow:hover {
	box-shadow: 3px 6px 8px #888888;
}
.itemLink {
	display: flex;
	align-items: center;
	flex-basis: 50%;
}
.itemId {
	display: flex;
	align-items: center;
	flex-basis: 10%;
}
.itemUserId { 
	display: flex;
	align-items: center;
	flex-basis: 20%;
}
.itemTimeAgo {
	display: flex;
	align-items: center;
	flex-basis: 20%;
}
.page-container {
	display: flex;
	width: 25%;
	margin: auto;
	margin-top: 20px;
	justify-content: space-between;
}

.item-container {
	width: 90%;
	margin: auto;
	border-bottom: 2px solid black;
}
.item-top {
	display: flex;
	justify-content: center;
	/* padding-left : 10px;
	padding-right: 10px; */
	margin-bottom: 20px;
	border-top: 1px solid black;
	padding-top: 20px;
}
.item-title {
	flex-basis: 50%;
}
.item-userId {
	flex-basis: 20%;
	font-size: 14px;
}
.item-timeAgo {
	flex-basis: 20%;
	font-size: 14px;
}
.item-image {
	text-align: center;
}
.item-image img {
	display: inline-block;
	max-width: 50%;
	height: auto;
}
.item-body {
	padding-left: 30px;
	padding-right: 30px;
}


.comment-list-container {
	width: 80%;
	margin: auto;
} 

.comment-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	box-shadow: 0px 3px 3px #888;
	padding-left: 5px;
	padding-right: 5px;
	margin: 10px;
}

.comment-container > div {
	flex-basis: 20%;
}
.comment-body-container {
	flex: 1;
}
.comment-insert-container {
	width: 75%;
	margin: auto;
	margin-top: 20px;
}
.comment-insert-container > form {
	display: flex;
	justify-content: space-around;
}

.comment-insert-container > form > textarea {
	flex-grow: 1;
}

.plain-text-btn {
    background:none;
    border:none;
    margin:0;
    padding:0;
    cursor: pointer;
}
.delete-btn {
	text-decoration: none;
	color: black;
}

.form-container {
	width: 70%;
	margin: auto;
}

.form-row {
	position: relative;
	display: flex;
	justify-content: space-around;
	margin: 3px;
	height: 30px;
	margin-bottom: 10px;
}

.form-row>* {
	flex-basis: 0;
	margin-left: 5px;
	margin-right: 5px;
}

.form-row label {
	flex: 2.5;
	text-align: right;
}

.form-row  input {
	flex: 8;
}

h1 {
	text-align: center;
}

.message {
	position: absolute;
	right: 3px;
}

.item-body>div {
	padding: 10px;
	text-align: right;
}
.item-body a {
	text-decoration: none;
	color: black;
}
.form-textarea textarea {
	width: 100%;
	height: 100px;
}